parameters:
	ignoreErrors:
		- '#Property Mautic\\Transifex\\Tests\\ApiConnectorTestCase::\$client \(Mautic\\Transifex\\Tests\\Client\\TransifexTestClient\) does not accept class@anonymous\/tests\/Connector\/ProjectsTest.php\:196.#'
